<% @list.tasks.each do |task| %>
  <p>Task: <%= task.title %></p>
  <p>Description: <%= task.description %></p>
  <p>Due Date: <%= task.due_date %></p><br>
  <%= button_to "Edit Task", edit_list_task_path(@list.id, task), method: :get %>
<% end %>
